@use "./_colors" as colors;

.animation-container {
  width: 90%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  margin: 10% 0;

  h1 {
    font-family: "Poppins-Bold";
    margin-left: 2%;
  }

  .animation {
    width: 100%;
    height: 430px;
    align-self: center;
    background-color: #EDF8FF;
    border: 2px solid colors.$gray;
    border-radius: 10px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    width: 25%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: colors.$blue;
    color: #FFFFFF;
    border: 2px solid colors.$gray;
    border-radius: 10px;
    margin: 5% 0;
    font-family: "Poppins-Bold";
    font-size: 18px;
    cursor: pointer;
  }
}

.animation-container a.btn {
 width: 45%;
 justify-content: space-between;
 padding: 0 4%;
}

@media screen and (max-width: 459px) {
    a.btn {
    width: 55%;
  }
}

@media screen and (max-width: 799px) {
  .animation-container {
    margin: 20% 0;
  }
}

@media screen and (max-width: 1199px) {
  .animation-container {
    margin: 15% 0;
  }
}