@use "./_colors" as colors;

:root {
  --container-size: 320px;
}

.paused {
  animation-play-state: paused !important;
}

.animation-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 80px;
  padding-top: 4em;

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .animation-container {
    width: var(--container-size);
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      padding: 2em 0;
      --container-size: 420px;
    }

    @media screen and (min-width: 992px) {
      --container-size: 520px;
    }

    h1 {
      font-family: "Poppins-Bold";
      margin-left: 2%;
    }

    .animation {
      height: var(--container-size);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EDF8FF;
      border: 2px solid colors.$gray;
      border-radius: 10px;
    }
  }
}