@use "./colors" as colors;

@mixin make-circle($size, $color, $top, $right, $bottom, $left) {
  width: $size;
  height: $size;
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  border-radius: 50%;
  background-color: $color;
  margin: 2%;
  z-index: -1;
}

.circle-xl {
  @include make-circle(12rem, colors.$blue, -110px, 0, 0, -110px);
}

.circle-lg {
  @include make-circle(4.5rem, colors.$blue, 0, 0, 0, auto);
}

.circle-md {
  @include make-circle(120px, colors.$blue, auto, 0, 5%, 4%);
}

.circle-md-alt {
  @include make-circle(120px, colors.$orange, auto, 10%, -8%, auto);
}

.circle-sm {
  @include make-circle(2rem, colors.$orange, 70px, 70px, 0, auto);
}

.circle-sm-alt {
  @include make-circle(60px, colors.$orange, auto, 0, 0, 0);
}

/* Media Queries */

@media (min-width: 600px) {
  .circle-xl {
    @include make-circle(14rem, colors.$blue, -110px, 0, 0, -110px);
  }

  .circle-lg {
    @include make-circle(6rem, colors.$blue, 0, 0, 0, auto);
  }

  .circle-sm {
    @include make-circle(2.5rem, colors.$orange, 80px, 90px, 0, auto);
  }
}

@media (min-width: 1024px) {
  .circle-xl {
    @include make-circle(16rem, colors.$blue, -110px, 0, 0, -110px);
  }

  .circle-lg {
    @include make-circle(8rem, colors.$blue, 0, 0, 0, auto);
  }

  .circle-sm {
    @include make-circle(3rem, colors.$orange, 110px, 130px, 0, auto);
  }
}