@use "./colors" as colors;

@mixin make-circle($size, $color, $top, $right, $bottom, $left) {
  width: $size;
  height: $size;
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  border-radius: 50%;
  background-color: $color;
  margin: 2%;
  z-index: -1;
}

.circle-xl {
  @include make-circle(12rem, colors.$blue, -110px, 0, 0, -110px);
}

.circle-lg {
  @include make-circle(4.5rem, colors.$blue, 0, 0, 0, auto);
}

.circle-md {
  @include make-circle(7.5rem, colors.$blue, auto, 0, -9%, 8%);
  position: relative;
  z-index: 0;
}

.circle-md-alt {
  @include make-circle(7.5rem, colors.$orange, 9%, 0, 0, 85%);
  position: relative;
  z-index: 0;
}

.circle-sm {
  @include make-circle(2rem, colors.$orange, 70px, 70px, 0, auto);
}

.circle-sm-alt {
  @include make-circle(3.75rem, colors.$orange, 0, 0, 0, 0);
  position: relative;
  z-index: 0;
}