@use "./circle.scss";
@use "./header.scss";
@use "./animation.scss";
@import url("./boilerplate.css");

.app {
  width: 100vw;
  height: 100%;
}

.animation-wrapper {
  display: flex;
  justify-content: center;
}