@import url("./boilerplate.css");

:root {
  --orange: #F17750;
  --blue: #10819A;
}

h1 {
  font-family: "Poppins";
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--blue);
  margin: 2%;
}